.content {
  max-width: 556px;
  margin: 0 auto;
  padding: 50px 0;
}
.title {
  text-align: center;
  margin-bottom: 10px;
}
.text {
  margin: 15px 0;
}
.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;

  .error {
    min-height: 25px;
    color: red;
  }
}
.textarea,
.input {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  line-height: 22px;
  transition: border 0.3s ease-in-out;
  outline: none;
  &:hover:not(:focus) {
    border: 1px solid #000;
  }
}
.textarea {
  min-height: 120px;
  padding: 15px 16px;
  resize: none;
}
.input[type="email"],
.input[type="text"] {
  height: 52px;
  padding: 0 16px;
  &:invalid {
    box-shadow: none;
  }
}
.success {
  .textarea,
  .input {
    border: 1px solid green;
  }
}
.error {
  .textarea,
  input {
    border: 1px solid red;
  }
}
.label {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}
.submit-btn {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  margin: 34px 0;
  background-color: #e54d1f;
  transition: background-color 250ms;
  cursor: pointer;
  padding: 15px;
  text-transform: uppercase;
  border: 3px solid #505050;
  color: var(--btn--color, #fff);
  flex: 1;
  &:hover {
    background-color: #cc441a;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.result {
  min-height: 20px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 600px) {
  .content {
    padding: 20px;
  }
}
