.tags {
  color: #e54d1f;
  padding: 20px 0;
}

.title {
  margin: 10px auto 15px auto;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.tag-link {
  display: inline-block;
  margin-bottom: 15px;
  margin-inline-end: 30px;
}
