.mini-wave-win {
  color: #f75b1e;
  background: linear-gradient(0deg, #000 0%, #525252 100%);
}

.mini-wave-mac {
  color: #257fc1;
  background: linear-gradient(0deg, #e9e9ea 0%, #fff 100%);
  border-radius: 5px;
}
