.format-select {
  flex: 1;
  --inner-control-br: 4px;
  border: 4px solid #505050;
  border-radius: calc(var(--inner-control-br) * 2);
  display: flex;
  color: #fff;

  line-height: 1;
  font-weight: 700;

  @media (max-width: 560px) {
    font-size: 18px;
  }

  button.submit {
    white-space: nowrap;
  }
}

.submit {
  border-inline-end: 1px solid #d24418;
  border-start-start-radius: var(--inner-control-br);
  border-end-start-radius: var(--inner-control-br);
  flex: 1;
}

.current-format {
  border-start-end-radius: var(--inner-control-br);
  border-end-end-radius: var(--inner-control-br);
  border-inline-start: 1px solid #e85f36;
  flex: 1;

  display: flex;
  align-items: center;
  min-height: 100%;
  box-sizing: border-box;
}

.format-control {
  background: #e54d1f;
  transition: background-color 250ms;
  cursor: pointer;
  padding: 15px;
  text-transform: uppercase;

  &:hover {
    background: #d24418;
  }
}

.icon.arrow {
  display: inline-flex;
  font-size: 8px;
  margin-inline-start: 15px;

  &::before {
    content: "";
    display: block;
    border: 0.125em solid currentColor;
    border-top: none;
    border-right: none;
    width: 1em;
    height: 1em;
    margin: auto;

    transform: translateY(-25%) rotate(-45deg);
  }
}

.drop-down {
  position: relative;
  max-width: 35%;
  flex: 1;
}

.drop-down .active > .icon.arrow::before {
  transform: translateY(25%) rotate(135deg);
}

.drop-down .active > .current-format {
  border-end-end-radius: 0;
}

.drop-down:not(.active) .format-list {
  display: none;
}

.format-list {
  position: absolute;
  width: 100%;

  margin: 0 -4px 0;
  border-radius: 0 0 8px 8px;
  border: 4px solid #505050;
  border-top: none;
  font-size: 18px;
  font-weight: normal;
}

.format.item {
  border-top: 1px solid #e85f36;
}
